<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <section class="container-form">
        <h1>Password Generator</h1>
        <form action="{% url 'password' %}" method="GET">
            <label for="password-length">Choose password length</label>
            <select name="password-length" id="password-length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected="selected">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            <label for="uppercase">
                <input type="checkbox" name="uppercase" id="uppercase">Uppercase
            </label>
            <label for="numbers">
                <input type="checkbox" name="numbers" id="numbers">Numbers
            </label>
            <label for="special">
                <input type="checkbox" name="special" id="special">Special
            </label>
            
            <input type="submit" value="Generate password">
        </form>
    </section>


</body>
</html>