{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <h1>Password Generator</h1>
        <nav>
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <main>
        <section class="container-form">
            <form action="{% url 'password' %}" method="">
                <div class="form-group">
                    <label for="password-length">Choose password length</label>
                    <select name="password-length" id="password-length">
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12" selected="selected">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="uppercase" class="checkbox-label">
                        <input type="checkbox" name="uppercase" id="uppercase">Uppercase
                    </label>
                </div>
                <div class="form-group">
                    <label for="numbers" class="checkbox-label">
                        <input type="checkbox" name="numbers" id="numbers">Numbers
                    </label>
                </div>
                <div class="form-group">
                    <label for="special" class="checkbox-label">
                        <input type="checkbox" name="special" id="special">Special
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Generate password" class="submit-btn">
                </div>
            </form>
        </section>
    </main>
</body>
</html>